.tag-row {
    display: grid;
    grid-template-rows: repeat(1, var(--rowHeight));
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: white;

}

.row {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5px;
}

.header-row {
    margin: 0px 0;
    display: grid;
    grid-template-rows: repeat(1, var(--rowHeight));
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
    background: #272345;
    color: white;
}

.status-button {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 20px grey;
}


.green-stripe {
    position: absolute;
    width        : 0;
    height       : 0;
    border-left   : 25px solid green;
    border-right  : 100px solid transparent;
    border-bottom : 100px solid transparent;
}

.dot-green {
    width: 35px;
    height: 35px;
    background-image: radial-gradient(#019745 , #00642D);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px grey;
}

.dot-red {
    width: 35px;
    height: 35px;
    background-image: radial-gradient(#ff0096 , #ff005d);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px grey;
}

.dot-yellow {
    width: 35px;
    height: 35px;
    background-color: #f2f2f5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px grey;
}