.table-body {
    width: 100%;
    margin: -1% 0 0 0;
    overflow-y: scroll;
    padding-right: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    max-height: 85vh;
}

.catwalk-row {
    display: grid;
    grid-template-rows: repeat(1, var(--rowHeight));
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.header-row {
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    background: #272345;
    color: white;
    height: 100px;
}

hr {
    height: 2px;
    border-top: 1px solid #e0dede;
}

hr.catwalk-hr {
    position: absolute;
    top: 4px;
    right: 2%;
    width: 96%;
}

