header {
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #727474;
}


.table {
  width:80%;
}

.Success {
  color: chartreuse;
}

.Failure {
  color: #d21d20;
}

.modal-backdrop,
.modal-backdrop.fade.in{
  opacity: 0.5;
  filter: alpha(opacity=100);
  background: #727474;
}


