.expanded-tag-row {
    position: relative;
    margin-top: -7px;
    background-color: white;
    display: grid;
    grid-template-areas:
            "title contacts"
            "subtitle subtitle"
            "tickets tickets";
    grid-template-rows: 50px 50px 350px;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3% 5px;
    overflow: hidden;
}

.expanded-tag-row-h1 {
    grid-area: title;
    justify-self: left;
}
.expanded-tag-row-h2 {
    grid-area: subtitle;
    justify-self: left;
}
.expanded-tag-row-tickets {
    font-family: 'Open Sans', semi-bold;
    grid-area: tickets;
    justify-self: left;
    width: 90%;
}

.expanded-tag-row-contacts {
    grid-area: contacts;
}

.expanded-tag-row-tbody {
    font-family: 'Open Sans Condensed', sans-serif;
}

.contacts {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: var(--darkBlue);
    color: white;
    width: 100%;
    display: grid;
    grid-template-areas:
            "contact-title"
            "contact-icon"
            "contact-details";
    grid-template-columns: 100%;
    grid-template-rows: 30px 20px 20px;
    justify-items: right;
    text-align: right;
    margin-top: 20px;
}

.expanded-tag-row ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.expanded-tag-row ul li {
    margin: 10px 0;
}

hr.expanded-tag-row-bottom-hr {
    position: absolute;
    width: 60%;
    bottom: 50px;
    left: 2%;
}